<div id="globals_table" class="h-100 bg-white">    
    <div class="pyri-table-panel h-100">
        <caption>Global Variables</caption>
    <div id="variables_toolbar">
        <b-button @click="refresh_globals_table"><i class="fa fa-sync"></i> Refresh Table</b-button> 
        <b-button variant="danger" @click="variable_delete_selected"><i class="fa fa-trash"></i> Delete Selected</b-button> 
        <b-button variant="success" @click="new_variable"><i class="fa fa-plus-circle"></i> New Variable</b-button>
    </div>
    <bootstrap-table id="globals_list_table" ref="globals_list" :columns="variables_columns" :data="variables" :options="variables_options"></bootstrap-table>
    </div>
    
    <b-modal ref="new_variable_modal" 
        id="new_variable_modal"
        title="Create New Global Variable" 
        @show="reset_new_variable" @hidden="reset_new_variable" 
        @ok="handle_new_variable"
        ok-title="Create"
        hide-header-close
    >        
        <b-form-group
            label="New Variable Type"
            label-for="new-variable-type-select"
        >
            <b-form-select
                id="new-variable-type-select"
                v-model="new_variable_type_selected"
                :options="new_variable_type_select_options"
            >
            </b-form-select>
        </b-form-group>
        <b-form-group
            label="New Variable Name"
            label-for="new-variable-name-input"
        >
            <b-form-input
                id="new-variable-name-input"
                v-model="new_variable_name"
                trim
            ></b-form-input>
        </b-form-group>
        
    </b-modal>        
</div>



