<div id="active_devices_table">
    <div class="bootstrap-table"></div>
    <caption>Active Devices</caption>
    <table data-toggle="table" data-search="true" data-show-columns="true" class="table table-hover table-bordered" data-card-view="true" data-show-toggle="true" data-search="true">
        <thead>
            <tr>
                <th data-field="local_name">Local Name</th>
                <th data-field="device_name">Device Name</th>
                <th data-field="types">Device Types</th>
                <th data-field="status">Status</th>
                <th data-field="state_flags">State Flags</th>
                <th data-field="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            <template v-for="local_name in $store.state.active_device_names">
                <tr>
                    <td>{{ local_name }}</td>
                    <td>{{ device_name(local_name) }}</td>
                    <td>
                        {{ implemented_types(local_name) }}
                    </td>
                    <td>
                    <span v-if="!device_connected(local_name)" style="color:red">Disconnected</span>
                    <span v-else-if="device_error(local_name)" style="color:red">Error</span>
                    <span v-else-if="device_ready(local_name)" style="color:green">Ready</span>
                    <span v-else style="color:yellow">Connected</span>
                    </td>
                    <td>
                        {{ device_state_flags(local_name) }}
                    </td>
                    <td>
                        <a class="info" title="Device Info" @click="device_info(local_name)"><i class="fas fa-2x fa-info-circle"></i></a>&nbsp;
                        <a class="remove" title="Remove Device" @click="device_remove(local_name)"><i class="fas fa-2x fa-trash"></i></a>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
    </div>
</div>

<style>
    #active_devices_table {
        background-color: white !important;
    }
</style>
